img.w-75 {
    border-radius: 100%;
    border: 1px solid #cf2e14;
}
button.about-btn {
    font-size: 15px;
    border: none;
    font-weight: 800;
    padding: 4px 39px;
    background: #f27300;
    color: white;
}